@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf) format('truetype');
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d5d4d4;
}
.baner-container {
  width: 300px;
  height: 600px;
  background-color: #ffffff19;
  display: none;
  overflow: hidden;
  position: relative;
}
.active-baner {
  display: block;
}
.background {
  position: absolute;
  width: 300px;
  height: 600px;
  overflow: hidden;
  background-color: #ffffff19;
}
.background-image {
  width: 300px;
  height: 600px;
}
.active {
  display: block;
}
.flybee-logo-container {
  position: relative;
  width: 300px;
  height: 600px;
  background-color: #fcda16;
}
.flybee-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 150px;
  height: 55px;
  background-color: #fcda16;
}
.move-position {
  position: absolute;
  top: 0px;
  left: 30px;
  transition: all 0.5s ease-in-out 0.2s;
}
.squares-container {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.square {
  width: 10px;
  height: 10px;
  background-color: #fbfbfb;
}
.active-square {
  background-color: #fcda16;
}
.country {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 600;
  background-color: white;
}
.country-active {
  width: 40%;
  transition: all 1.5s ease-in-out 0.2s;
}
.city {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 45px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fcda16;
}
.destination-container {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  bottom: 35%;
  color: #000000;
  left: 30px;
  width: 180px;
  height: 70px;
  display: none;
  grid-template-rows: 30% 70%;
}
.price-container {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  position: absolute;
  bottom: 19%;
  left: 87px;
  width: 100px;
  height: 50px;
  display: none;
  color: #fcda16;
  grid-template-rows: 30% 60%;
}
.price-container .text {
  display: flex;
  align-items: left;
  width: 50%;
  font-size: 15px;
  font-weight: 400;
}
.price-container .price {
  display: flex;
  align-items: left;
  font-size: 22px;
}
.booking-container {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  position: absolute;
  bottom: 12%;
  left: 88px;
  width: 150px;
  height: 50px;
  color: #000000;
  display: none;
  align-items: center;
  background-color: white;
  grid-template-rows: 30% 60%;
}
.booking-container .text-booking {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.booking-container .chevron {
  color: #fcda16;
  margin-left: 6px;
  margin-top: 0px;
  font-size: 10px;
}
.chevron-line {
  color: #fcda16;
  position: absolute;
  bottom: 81px;
  left: 30px;
  width: 75px;
  height: 18px;
  display: none;
  border-top: 4px solid #fcda16;
}
@keyframes scaleBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
